:root {
    --background-container: #ffffff;
    --background: #004161;
    --shadow-box: #dbdbdb;
}

#root {
    display: flex;
    min-height: 100vh;
    align-items: center;
}

* { box-sizing: border-box; }

html, body {
    display: block;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(45deg, #014781, #002849);
    display: block;
    position: relative;
}

.content {
    /* background-color: var(--background); */
    border-radius: 10px;
    width: 80%;
    padding: 1rem 3rem;
    margin: 3rem auto 4rem;
    padding: 0;
}

.container {
    /* box-shadow: 0 1px 4px var(--shadow-box); */
    justify-content: space-between;
    display: flex;
    border-radius: 8px;
    min-height: 10em;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
}

.powered {
    display: flex;
    background: #011c3180;
    padding: 1rem;
    justify-content: center;
    margin: 1rem auto 8rem;
}

.powered a {
    color: #fff;
    text-decoration: none;
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.powered img {
    max-width: 10vw;
    margin-left: 1rem;
}

@media screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
    }

    .powered {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        margin: 0;
    }
}
