:root {
    --background-container: #00cfcd47;
    --background-header: #ff8000;
    --shadow-box: #dbdbdb;
    --text: #fff;
    --button-color: #ccc;
    --button-color-clicked: #fff;
    --button-shadow: #333;
}

.button {
    color: var(--text);
    background: var(--background-header);
    padding: 5rem 2rem;
    margin: 0;
    padding: 1rem;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--button-shadow);
}

.button:hover {
    margin: 1px 0 0 1px;
    box-shadow: 0 1px 4px var(--button-shadow);
}

@media screen and (min-width: 1024px) {
    .chartContainer {
        width: calc(33.33% - .5rem);
    }
}
