:root {
    --background-color: #ddd;
    --shadow-box: #dbdbdb;
    --text: #000;
    --no-color: #aaa;
    --on-color: #33a;
    --off-color: #a33;
}

.state {
    color: var(--text);
    background: var(--background-color);
    padding: 5rem 2rem;
    margin: 0;
    padding: 1rem;
    width: 50%;
    border-radius: 8px;
    border: 4px solid var(--no-color);
    box-shadow: 0 2px 5px var(--button-shadow);
}

.state-max {
    border-color: var(--on-color)
}

.state-min {
    border-color: var(--off-color)
}

